.chat-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 48px;
}

.chat-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.input-wrapper {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 6rem;
  border-radius: 24px;
  padding-block: 12px;
  padding-right: 64px;
  padding-left: 18px;

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background: transparent;
    outline: none;
    border: none;
  }

  button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: var(--text-color);
  }
}

.user-media {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background: var(--text-color-5);
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

.message-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-inline: 16px;
  flex: 1;
  overflow-y: auto;
}

.message {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 12px;
  margin-top: 16px;
  border-radius: 18px;

  &.user {
    align-self: flex-start;
    background: var(--text-color-10);
    border-bottom-left-radius: 6px;
  }

  &.me {
    align-self: flex-end;
    background: var(--primary-color);
    border-bottom-right-radius: 6px;
  }
}
