main {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 32px;
  padding: 12px;
  overflow: hidden;
}

.chat-history {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100%;
  padding: 12px;

  &__label {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.8;
    margin: 6px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

ul {
  flex: 1;
  overflow-y: auto;
}

li {
  list-style: none;
}

.chat-item {
  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: 12px;
  transition: background 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.chat-item:hover {
  background: var(--text-color-5);
}

.chat-item.active {
  background: var(--text-color-10);
}

.user-media {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background: var(--text-color-5);
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .username {
    font-weight: 600;
  }

  .last-message {
    font-size: 14px;
    color: var(--text-color-50);
  }
}

.chat-wrapper {
  width: 50%;
}
